@import url('base.css');
body,html,section,nav{
	margin: 0;
	padding: 0;
	display: block;
}
body{
	background-color: #f3f4f4;
}
ul,li,dl,ol,dt,dd{
	list-style: none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
div{
	margin: 0;
    padding: 0;
    outline: none;
    display: block;
}
/* toubu */
.header{	
	position: relative;
	padding: 0 .20rem;
    height: .64rem;
    background: #00a076;
    color: #fff;
    line-height: .64rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.back>a{
	display: block;
	color:  #25d9b2;
	font-size: .2rem;
	line-height: .64rem;
}
.back{
	width: 2.00rem;
    display: flex;
    justify-content: space-between;  
}
.user,.searchs{
	position: relative;
	/* float: right; */
	height: 100%;
	width: .30rem;
}
.user>a>img,.searchs>a{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -.15rem;
	border-radius: 50%;
	width: .30rem;
	height: .30rem;
	float: left;	
	color: #fff;
}
.icon-sousuo{
	display: block;
	font-family: 'iconfont';
	font-size: .2rem;
	line-height: .24rem;
}
.back .white{
	color: #fff;
}
.datu{
	width: 100%;
	height: 1.40rem;
}
.datu a,.datu img{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
/* 板块 */
.login{
	position: relative;
	display: flex;
	color: #00a076;
	height: .48rem;
	line-height: .46rem;
	text-align: center;
	background: #fff;
	z-index: 999;
}
.selected{
	width:50%; 
	border-bottom:.01rem solid #ccc;
	font-size: .16rem;
	color: #222;
}
.dxin{
	width:50%; 
	border-bottom:.02rem solid #0AB27B;
	font-size: .16rem;
	color: #222;
}
/* nr */
.nr-list{
	display: block;
	width: 97%;
	height: .60rem;
	padding: .10rem .10rem;
	/* display: flex; */
	/* justify-content: space-between; */
}
.nr-list>li{
	width: 20%;
	float: left;
	text-align: center;
	color: #0AB27B;
}
.icon-qianzheng,.icon-wenda,.icon-jieban,.icon-sheying-,.icon-fuli{
	font-family: "iconfont";
	font-size: .32rem;
}
.nr-list>li>span{
	font-size: .14rem;
	display: block;
	color: #222;
}
#swiper-container{
	height: .80rem;
	margin-top: 0;
	padding-left: .10rem;
}
#swiper-wrapper{
	width: 1.00rem;
	height: .80rem;
	padding-left: .20rem;
}
.pic{
	display: block;
	width: 1.28rem;
	height: .80rem;
}
/* 游记 */
.qiongyou{
	width: 100%;
	height: auto;
	padding: .10rem .10rem;
	background: #fff;
	display: flex;
	border-bottom:.01rem solid #ccc;
	margin-bottom: .12rem;
}
.qiongyou-left{
	width: 15%;
	height: 100%;

}
.qiongyou-left img{
	border-radius: 50%;
	display: block;
	width: .36rem;
	height: .36rem;
}
.qiongyou-right{
	display: block;
	width: 85%;
}
.qiongyou-right>span{
	display: block;
	font-size: .14rem;
	color: #ccc;
}
.qiongyou-right>h4{
	display: block;
	margin-top: .10rem;
	font-size: .16rem;
	color: #222;
}
.huati,.huati>a{
	margin-top: .10rem;
	width:.80rem;
	height: .80rem;
}
#huati{
	width: 100%;
	height: .80rem;
	display: flex;
}
#huati img{
	margin-right:.06rem;
	width:.80rem;
	height: .80rem;
}
.huati img{
	display: block;
	width: 100%;
	height: 100%;
}
.huodong{
	height: .20rem;
	line-height: .20rem;
	display: flex;
	justify-content: space-between;
	margin-top: .10rem;

}
.huodong>span{
	display: block;
	color: #0AB27B;
	font-size: .14rem;
}
.huodong-right{
	width: 1.30rem;
	padding-right: .10rem;
	display: flex;
	justify-content: space-between;
}
.shijian{
	width: .84rem;
	font-size: .14rem;
	color: #ccc;

}
.icon-shijian,.icon-pinglun{
	font-family: "iconfont";
}
.shijian2{
	width: .45rem;
	font-size: .14rem;
	color: #ccc;
	display: flex;
	line-height: .20rem;
}
#qiongyou{
	height: .88rem;
}
body{
	overflow: hidden;
}
.iScrollHorizontalScrollbar{
	position: absolute;
	left: 0;
	right: 0;
	width: 10px;
	height: 100%;
}
.iScrollIndicator{
	width: 100%;
	height: 10px;
	background: #666;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 114px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 114px);
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	transform: translateZ(0);
	user-select: none;
	text-size-adjust: none;
}
.swiper-container {
    width: 100%;
    height: 3.00rem;
    margin: .20rem auto;
}
.swiper-slide {
    text-align: center;
    font-size: .18rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}