@import url('base.css');
body,html,section,nav{
	margin: 0;
	padding: 0;
	display: block;
}
body{
	background-color: #f3f4f4;
}
ul,li,dl,ol,dt,dd{
	list-style: none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
div{
	margin: 0;
    padding: 0;
    outline: none;
    display: block;
}
.header{	
	position: relative;
    padding: 0 .20rem;
    height: .64rem;
    background: #00a076;
    color: #fff;
    line-height: .64rem;
    display: flex;
    align-items: center;
    z-index: 999;
}
.back{
	width: .20rem;
    height: .17rem;
    margin: 0 .32rem 0 0;
    background: url('../img/black.svg') no-repeat;
    background-size: 100%;
}
.center{
	font-size: .2rem;
	line-height: .64rem;
}
.lists{
	padding: 0 .30rem;
	background: #00a076;
}
.list{
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: .60rem;
	line-height: .60rem;
	font-size: .14rem;
	text-align: center;
}
.list>li{
	width: 30%;
}
.list>li>a{
	color: #fff;
}
.active{
	border-bottom:.04rem solid #fff;
}
.datu{
	width: 100%;
	height: 2.00rem;
}
.datu a,.datu img{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.topic{
	margin-top: .12rem;
	padding-bottom: .24rem;
	border-top:.01rem solid #e6e8ea;
	background-color: #fff;
}
.qyshop {
    position: relative;
    height: .57rem;
    line-height: .57rem;
    font-size: .20rem;
    text-align: center;
    color: #656669;
    background: #fff;
}
.topic-group{
	padding: 0 .12rem;
}
.topic-group-item{
	margin-bottom: .24rem;
}
.topic-group-item a{
	color: #9ea3ab;
	display: flex;
}
.topic-left{
	flex: 0 0 36%;
	width: 36%;
	position: relative;
}
.topic-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.topic-right{
	flex: 0 0 64%;
    padding:.05rem 0 0 .12rem;
    width: 64%;
    box-sizing: border-box;
}
.topic-right .subject {
    font-size: .14rem;
    line-height: .20rem;
    height: .40rem;
    color: #9ea3ab;
    margin-bottom: .12rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topic-right .author {
    position: relative;
    font-size: .12rem;
    color: #e6e8ea;
    line-height: .28rem;
}
.author .uname{
	margin-right:.04rem;
}
b {
    font-weight: bold;
}
.avatar {
    width: .28rem;
    height: .28rem;
    margin-right:.04rem;
    vertical-align: top;
    border-radius: 50%;
}
.user-point{
	background: url('../img/author2.png');
	display: inline-block;
	vertical-align: top;
	width: .16rem;
	height: .28rem;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}
.pinglun{
	position: absolute;
	right: 0;
}
.talk-sp{
	display: inline-block;
	vertical-align: middle;
	margin-right:.04rem;
	width: .16rem;
	height: .28rem;
	background: url('../img/pinglun.svg') 50%/.14rem .14rem no-repeat;
}
.user-point2{
	background: url('../img/author3.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

body{
	overflow: hidden;
}
.iScrollHorizontalScrollbar{
	position: absolute;
	left: 0;
	right: 0;
	width: .10rem;
	height: 100%;
}
.iScrollIndicator{
	width: 100%;
	height: .10rem;
	background: #666;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 99.25px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 99.25px);
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	transform: translateZ(0);
	user-select: none;
	text-size-adjust: none;
}