/*
* @Author: yan
* @Date:   2017-08-06 13:03:58
* @Last Modified by:   yan
* @Last Modified time: 2017-08-06 13:40:06
*/
@import url('base.css');
.back{
	width: 100%;
	height: 6.21rem;
	background: red;
}
.back img{
	display: block;
	width: 100%;
	height: 100%;
}
.zhezhao{
	width: 100%;
	height: 6.2rem;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.fanhui{
	display: block;
	width: 0.18rem;
	height: 0.18rem;
	/* background: white; */
	margin-top: 0.32rem;
	margin-left: 0.16rem;
	margin-bottom: 0.26rem;
}
.icon-jiantou2{
	font-family: 'iconfont';
	width: 0.18rem;
	height: 0.18rem;
	color: #7d8094;
	font-size: 0.18rem;
	font-weight: bold;
}
.carmea{
	display: block;
	width: 0.84rem;
	height: 0.84rem;
	/* background: white; */
	border: 0.01rem solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	margin-top: 0.5rem;
	margin: 0 auto;
	margin-bottom: 0.15rem;
}
.carmea img{
	display: block;
	width: 0.84rem;
	height: 0.84rem;
	border-radius: 50%;
	/* font-size: 0.27rem;
	color: #f0eef3;
	line-height: 0.83rem;
	text-align: center; */
}
.xuanxiang{
	width: 1.24rem;
	height: 0.14rem;
	/* background: white; */
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.left,.right{
    width: 0.46rem;
    height: 0.14rem;
    /* background: red; */
    display: flex;
    justify-content: space-between;
}
.left input,.right input{
	width: 0.14rem;
	height: 0.14rem;
}
.left span,.right span{
	font-size: 0.12rem;
	color: rgba(255, 255, 255, 0.8);
	line-height: 0.14rem;
}
.footlog{
	display: block;
	width: 100%;
	height: 0.52rem;
	background: #df2a76;
	font-size: 0.14rem;
	color: white;
	text-align: center;
	line-height: 0.52rem;
	font-weight: bold;
	position: fixed;
    bottom: 0;
    right: 0;
}